*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100dvh;
  background-color: #0c0c0c;
  color: #f0f0f0;
}
main {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.container {
  margin-top: 1rem;
}
#header {
  text-align: right;
  width: 100%;
}
.loading-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-width: 200px;
  text-align: center;
}
.loading-icon {
  position: absolute;
  left: 5%;
}
button {
  padding: 6px 10px;
  font-weight: 600;
  border-radius: 10px;
}
