* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app {
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  /* Flex box */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
