.container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 1rem;
}
.button {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
